 
  .please-wait {
    padding: 3rem 1rem 0;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 4px; 
  }
      
  .dice {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
  }
  
  .face {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin: 0 .7rem;
    padding: .5rem;
    border-radius: 5px;
    opacity: 0;
  }
  
  .face .dot {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
  }
  
  .face:nth-child(1) {
    border: 2px solid #F44336;
    animation: waves 5s linear infinite;
  }
  .face:nth-child(1) .dot {
    background: #F44336;
  }
  
  .face:nth-child(2) {
    border: 2px solid #E91E63;
    animation: waves 5s .2s linear infinite;
  }
  .face:nth-child(2) .dot {
    background: #E91E63;
  }
  
  .face:nth-child(3) {
    border: 2px solid #9C27B0;
    animation: waves 5s .4s linear infinite;
  }
  .face:nth-child(3) .dot {
    background: #9C27B0;
  }
  
  .face:nth-child(4) {
    border: 2px solid #673AB7;
    animation: waves 5s .6s linear infinite;
  }
  .face:nth-child(4) .dot {
    background: #673AB7;
  }
  
  .face:nth-child(5) {
    border: 2px solid #3F51B5;
    animation: waves 5s .8s linear infinite;
  }
  .face:nth-child(5) .dot {
    background: #3F51B5;
  }
  
  .face:nth-child(6) {
    border: 2px solid #2196F3;
    animation: waves 5s 1s linear infinite;
  }
  .face:nth-child(6) .dot {
    background: #2196F3;
  }
  
  .first-face {
    justify-content: center;
    align-items: center;
  }
  
  .second-face {
    justify-content: space-between;
  }
  .second-face .dot:last-of-type {
    align-self: flex-end;
  }
  
  .third-face {
    justify-content: space-between;
  }
  .third-face .dot:nth-child(2) {
    align-self: center;
  }
  .third-face .dot:last-of-type {
    align-self: flex-end;
  }
  
  .fourth-face {
    justify-content: space-between;
  }
  .fourth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face {
    justify-content: space-between;
  }
  .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fifth-face .column:nth-child(2) {
    justify-content: center;
  }
  
  .sixth-face {
    justify-content: space-between;
  }
  .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @keyframes waves {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    4% {
      transform: translateY(-25px);
      opacity: 1;
    }
    8% {
      transform: translateY(0);
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
  }
  .diceLoader {
    position: fixed;
    top: 0;
    z-index: 9999999;
    left: 0;
    right: 0;
    background: #000000fa;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}