.main-container-blog {
    width: 45%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.blog-content {
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-top: 20px;
    letter-spacing: 1px;

}

.blog-title {
    padding: 2rem 1rem 1rem;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 4px;
}

.blog-description {
    padding: 0rem 1rem 1rem;
}


@media only screen and (max-width: 768px) {
    .main-container-blog {
        width: 100%;
    }
}