
p{
    color: #32325D;
}
.blog-footer {
    background-color: #439c8b;
    color: #32325D;
    padding: 40px 0;
  }
  
  .footer-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .recent-posts, .categories {
    list-style-type: none;
    padding-left: 0;
  }
  
  .recent-posts li, .categories li {
    margin-bottom: 10px;
  }
  
  .recent-posts a, .categories a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .recent-posts a:hover, .categories a:hover {
    text-decoration: underline;
  }
  
  .author-bio {
    margin-bottom: 20px;
  }
  
  .btn-custom {
    border-radius: 50px;
  }
  
  .footer-bottom-text {
    font-size: 0.875rem;
  }
  