html {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #439C8B #fff; /* Thumb color and track color */
}

/* Example using color code */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

 