/* .navbar{
    background-color: rgb(73, 107, 255) !important;
}
.navbar *{
    color: whitesmoke !important;
}
.navbar-toggler{
    background-color: whitesmoke !important;
}
.navbar-nav{
    background-color: rgb(73, 107, 255) !important;
} */